<p id="notice"><%= notice %></p>

<p>
  <strong>Point:</strong>
  <%= @point.point %>
</p>

<p>
  <strong>User name:</strong>
  <%= @point.user_name %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
