<p id="notice"><%= notice %></p>

<h1>Ranking Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>Pass</th>
      <th>Uuid</th>
      <th>point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mail %></td>
        <td><%= user.pass %></td>
        <td><%= user.UUID %></td>
        <td><%= user.point %></td>

      </tr>
    <% end %>
  </tbody>
</table>

